.dynamic-button .el-dropdown button:focus-visible {
  outline: none !important;
}

.dynamic-button .el-button + .el-dropdown {
  margin-left: 12px;
}

.dynamic-button.el-button-group .el-button + .el-dropdown {
  margin-left: 0;
  border-left: 1px solid var(--el-border-color)
}
